* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Ubuntu Mono', monospace;
    list-style: none;
    letter-spacing: 1px;
    color: black;
}

:root{
    --kuning: #FAAE2B;
    --biru: #108EE9;
    --birumuda: #8BD3DD;
    --merah: #F71735;
    --merahmuda: #FE98A3;
    --ungu: #C2ACE6;
}

body{
    display: flex;
}

.container-login{
    width: 85%;
    height: 100vh;
    margin: auto;
    display: flex;
}

.form-login{
    justify-content: center;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 6px;
    width: 26%;
    margin: auto;
    padding: 12px;
    box-shadow: 7px 5px 2px rgba(0, 0, 0, 0.65);
}

.form-login h2{
    padding-bottom: 12px;
    text-align: center;
    letter-spacing: 4px;
    margin: 10px;
}

.input-text{
    background-color: whitesmoke;
    margin: 16px;
    outline: none;
    border: none;
    font-size: 22px;
    border-bottom: 1px solid black;
}

.form-login .submit{
    margin-right: 2px;
    float: right;
    width: 81px;
    padding: 12px;
    background-color: var(--biru);
    border: 2px solid black;
    border-radius: 4px;
    box-shadow: 4px 3px 2px rgba(0, 0, 0, 0.65);
}


.submit:hover{
    box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.65);   
}

.submit-e:hover{
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.65);   
}

/* END */

/*INDEX*/
.container-nav{
    /* background-color: aqua; */
    flex: 1;
    display: flex;
    justify-content: center;
}

.container-nav .nav li {
    width: 200px;
    margin: 63px;
    padding: 10px;
    background-color: var(--biru);
    text-align: center;
    border: 2px solid black;
    border-radius: 6px;
    box-shadow: 6px 4px 2px rgba(0, 0, 0, 0.65);
}

.container-nav .nav li:active{
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.65);
}

.container-isi{
    flex: 3;
}

/*INDEX END*/

.submit-uni{
    margin: 20px;
    width: 91%;
    height: 40px;
    border: 1px solid black;
    border-radius: 6px;
    font-size: 20px;
    box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.65);
}

.submit-uni:hover{
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.65);

}

/*PRODUK*/

.h3-produk{
    width: 100px;
    margin-left: 50px;
    margin-top: 60px ;
    padding: 6px;
    text-align: center;
    background-color: var(--biru);
    letter-spacing: 2px;
    border: 1px solid black;
    border-radius: 6px 6px 0px 0px;
    box-shadow: 6px 5px 2px rgba(0, 0, 0, 0.65);    
}

.submit-e{
    margin: 5px;
    width: 95%;
    padding: 4px;
    background-color: var(--biru);
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.65);
}

.container-produk{
    margin: auto;
    margin-bottom: 50px;
    width: 90%;
    min-height: 80vh;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 0px 10px 10px 10px;
    overflow: hidden;
    box-shadow: 7px 5px 2px rgba(0, 0, 0, 0.65);
}

.table-produk table {
    margin: 20px auto;
    width: 95%;
    border-radius: 5px;
}

.table-produk th {
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px 4px 0px 0px ;
}

.table-produk td {
    text-align: center;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid black;
}

/*PRODUK END*/

/*CATAT*/

.container-catat{
    margin: auto;
    width: 90%;
    min-height: 65vh;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 0px 10px 10px 10px;
    overflow: hidden;
    box-shadow: 7px 5px 2px rgba(0, 0, 0, 0.65);
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.form-catat{
    margin: auto;
    padding: 20px;
}

.form-catat h2{
    margin-bottom: 20px;
    text-align: center;
}

.form-catat .input-text{
    background-color: whitesmoke;
    margin: 16px;
    width: 500px;
    outline: none;
    border: none;
    font-size: 22px;
    border-bottom: 1px solid black;
}

.form-catat .submit-uni{
/*    margin: 20px;*/
    width: 30%;
    height: 40px;
    border: 1px solid black;
    border-radius: 6px;
    float: right;
    font-size: 20px;
    box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.65);
}

/*CATAT END*/