* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Ubuntu Mono", monospace;
  list-style: none;
  letter-spacing: 1px;
  color: black;
  outline: none;
}

:root {
  --kuning: #faae2b;
  --biru: #108ee9;
  --birumuda: #8bd3dd;
  --merah: #f71735;
  --merahmuda: #fe98a3;
  --ungu: #c2ace6;
  --border: 1px solid black;

}

.form-login{
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 10px;
  width: 20%;
  height: 40%;
  border: var(--border);
  border-radius: 8px;
  box-shadow: 6px 6px 1px
    rgba(0, 0, 0, 0.75);
}

.login {
  padding: 12px;
  width: 100%;
}

.input-text {
  background-color: whitesmoke;
  width: 100%;
  margin: 10px 0px;
  padding: 8px;
  border: none;
  border-bottom: var(--border);
}

.form-login .submit {
  float: right;
  background-color: var(--biru);
  width: 40%;
  height: 25%;
  border: var(--border);
  border-radius: 6px;
  box-shadow: 3px 3px 2px
    rgba(0, 0, 0, 0.75);
}

.submit:hover {
  box-shadow: 2px 2px 1px
    rgba(0, 0, 0, 0.65);
}

.container-login{
  width: 100%;
  height: 100vh;
  display: flex;
}

.container-index{
  display: flex;
  height: 100vh;
}

.container-nav{
  flex: 1;  
}

.container-isi{
  flex: 3;
  padding: 70px 30px 70px 30px;
}

.container-nav .nav li {
  width: 200px;
  margin: 70px auto;
  padding: 10px;
  background-color: var(--biru);
  text-align: center;
  border: 2px solid black;
  border-radius: 6px;
  box-shadow: 6px 4px 2px
    rgba(0, 0, 0, 0.65);
}

.container-produk{;
  width: 100%;
  min-height: 80vh;
  background-color: whitesmoke;
  border: var(--border);
  border-radius: 0px 10px 10px 10px;
  box-shadow: 7px 5px 2px
    rgba(0, 0, 0, 0.65);
}

.h3{
  width: 100px;
  padding: 6px;
  text-align: center;
  background-color: var(--biru);
  border: var(--border);
  border-radius: 6px 6px 0px 0px;
  box-shadow: 6px 5px 2px
    rgba(0, 0, 0, 0.65);
}

.table-produk table {
  margin: 25px auto;
  width: 95%;
  border-radius: 5px;
}

.table-produk th {
  padding: 10px;
  border: var(--border);
  border-radius: 4px 4px 0px 0px;
}

.table-produk td {
  text-align: center;
  padding: 5px;
  border: var(--border);
}

.container-catat {
  width: 100%;
  min-height: 75vh;
  background-color: whitesmoke;
  border: var(--border);
  border-radius: 0px 10px 10px 10px;
  overflow: hidden;
  box-shadow: 7px 5px 2px
    rgba(0, 0, 0, 0.65);
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.form-catat {
  margin: auto;
}

.form-catat h2 {
  margin-bottom: 20px;
  text-align: center;
}

.form-catat .input-text {
  background-color: whitesmoke;
  margin: 16px;
  width: 500px;
  outline: none;
  border: none;
  font-size: 22px;
  border-bottom: var(--border);
}

.form-catat .submit-uni {
  /*    margin: 20px;*/
  width: 30%;
  height: 40px;
  border: 1px solid black;
  border-radius: 6px;
  float: right;
  font-size: 20px;
  box-shadow: 3px 2px 2px
    rgba(0, 0, 0, 0.65);
}

.submit-e {
  margin: 5px;
  width: 95%;
  padding: 4px;
  background-color: var(--biru);
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 3px 2px 2px
    rgba(0, 0, 0, 0.65);
}